language: node_js
node_js:
- '5.3'
sudo: false
branches:
  except:
  - "/^v[0-9\\.]+/"
before_install:
- npm install -g coveralls pr-bumper bower
- pr-bumper check
install:
- npm install
- bower install
after_success:
- sed -i -- 's/SF:ember-frost-theme\/\(.*\)/SF:addon\/\1.js/' coverage/lcov.info &&
  rm -f coverage/lcov.info--
- cat coverage/lcov.info | coveralls
env:
  matrix:
  - CXX=g++-4.8
  global:
    secure: LGpGPA5wvy+jP5HmtySmrEQHzuzU1nLCvGkidSRS77YQbMjLXp3FV1NsdoRqX11jryL/snJbufxg2OKayX1ZVYr5KGhkd95+NbSPoudaOxMpgGkKapgehei8rbHN2DpBqhFJydUkFLkEU1DamvOXykW6l0teFawMXcQQtCjJdWtVQVP5sCak3jlK/bqZ8EdYKr7/bOnNhdOCA1wxWrdlyqS0GsZWygiXaiMV7fYGcd3wovFwt6lNABhTAqpm9wT24jwF6TroBZoXwVFSNZ8PR3BddtnIoebNcSE6E62QmKBj7tt6vFTKFY61qjCucSxJGSUxxWYV0eo760gkLrR5A9riBpnGGPOEnpltk5vsoaPw+UmuoIR7BIehlDlkgiKlUDXowV0djK8yECEeb65UbNnpwhA36SXyF/zybLSdmoAyXWTgH1v82q2UPhJB6lpbdjMGlEAL8unoohMCENW4vr8mh6X1XO64FTCCzapnoCA9RkMQM14BB7dR1mi5N0TpmFPpeQhgFlhP+DecP3PebHhLxpd03qoIRJDlT0dWL6IQRWF29We3ywcrUdsZxxjMDQ5QwW8czrVqF/cezOHDJORpCrFY3i9EGBgVFif08brMvAvPOkNzCeDIMUVLwoDiDVjswGhTj49BedE/lsKxIq/uoxtYLOz8iELjl0jUL7I=
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
before_deploy:
- pr-bumper bump
deploy:
  provider: npm
  email: npm.ciena@gmail.com
  skip_cleanup: true
  api_key:
    secure: ClMvBYSxzspJZKLfcdkJPJFjp6/zonG7f3dR1V1aPkUEHo/JA5A1XoLnuDyKtwt4HyUSyP9n3nJnNirlHXznL2Mht/Mw8YZxke9LtJL23RICqyhlIEvG3P3c5TRYu0SQLmes6YMguad7r0CI1vjHLUQIRAiRmWa9TUbBSTz19rNc+ccPVxrowkPDvH2sTfuvLY7ldvC+azrMsms+AUZZOgzQUOKD/CLbRg2eFyfVyS/fuiCx1eFR0rkPyhms1/USwufdybmzo48z9ySWGOkCEJAv8UzygOm5XKXri87xwAshhTQJ2iNhU3JLuo8E98QWj3UIkR2K395dX+G+/tyvXWwLDw7tAYVCwukAlk3DUW+GqIhyogwP6d1H+uThjgSbaDxF7Jbm2n35AXFyHjjYC+ugGjO3axh36TmVL6weQkYQ4/tghpGbxq05CKycTuiTdZPOv7RFCDR8T93C0uo0ek5fIBrd+NdotZMooo3t8DJYscLgu51yPlB9sm2NJxj/R4CnKzVMWBXSV7aA7qzPbaPwAdcVyI2zg2HPwl2c4ceYzHLfnTRfdsbrMCmde5dAc5oUrdRQpaG47SV3kN7uJMgTW3+1qyZTmE3woVx9T9g2NppPZqaMoe927VZgngKGPMhjkG+dBUitWFCKttg3/BgWrIhvNTC0j2yvcmKQilo=
  on:
    branch: master
    tags: false
notifications:
  slack:
    secure: iTgVAvZmTk1KX48rnxHB/23jbUo+Ubf7OiPyUFo4ZqZCiW4aHhp8ArT2Jme3jFyxfLQoWm/iYk4V08pL2s4sZpI1rM5S4Ita+35g0X+JMqwD2XJayvvS/s6+1B3ULBfs4wzPUlhuTKXWKt457U46hwTRYNejAlS4un3l8KLtHJbXHvmyrMH1wv2MZDMRC5eCp1n5klCSziOu9mcjIZoz6WzD4oPnGd3wQJe6GGCEjXZSYPnML00fwlb47xqGmnEjRBknEnYTWpgg87qHFpWDCLMN99s4uC7D5Biuewfvrl+cUYxnPe+PSW3yMhhgD7nHOS+VtMyNiW5gk3bL8E0rZUBxA0KXuohKgZ2budPYRGDYNmxV0DeeX66WCJknXYAOjzslYHV2xYEGS8rpXBTm19sVwGO2eiXTRb0i5KsxjXoaHA+kfzmb0L5CgLqk9vHqU0v4LdD8D+JTXO0vTQe+s/BcR/6jxcBoJxy2Q19KEv/Siv5XT7gXzYre4jqrVUIsy0ZK/rLbtZu0F6t0Gj4ep4dQEU2RTadWR6S2FaCawmWO2L7UL4RCOL0ziLf82AD1fkSLWrj5upBqXBw3fun8k+41ZsippF8CB40Fw0c+RJx5xfm/I4QIkVypgbsynwgUzNrrfNGsobU27SiI4Xi0bPraWVNjaH8bYuSqkpKH7x4=
