<div class="dummy-body">
  <div class='header-1'>frost-theme demo</div>
  <li class='header-2'>{{#link-to "demo.palette"}}Palette{{/link-to}}</li>
  <li class='header-2'>{{#link-to "demo.typography"}}Typography{{/link-to}}</li>
</div>
