@import 'frost-theme';
@include frost-theme-default;

.swatches {
  .swatch {
    width: 200px;
    height: 20px;
  }

  // Blues
  .blue-1 {
    background-color: $frost-color-blue-1;
  }

  // Buttons
  .button-primary {
    background-color: $frost-button-primary;
  }
}