<h2>frost-theme</h2>

<h3>palette</h3>

<h4>blues</h4>
<div class='swatches'>
  <div class='swatch blue-1'></div>
</div>

<h4>buttons</h4>
<div class='swatches'>
  <div class='swatch button-primary'></div>
</div>